<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  포그라운드 서비스 허용  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <!--  인터넷 사용 권한 설정  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  네트워크 상태 확인  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--알람 권한-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--통신 권한-->
    <uses-permission android:name="com.google.android.gms.permission.BIND_LISTENER" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sleephony"
        tools:targetApi="31">
        <!--   알람    -->
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="true"
            />

        <activity
            android:name=".ui.screen.sleep.AlarmActivity"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Sleephony.FullScreenAlarm"
            >
            <!-- 록 화면 위에, 화면 켜기 권한 -->
        </activity>

        <service
            android:name=".service.AlarmForegroundService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />


        <!--   측정     -->
        <service
            android:name=".service.SleepMeasurementService"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>

        <!-- wear os  통신 -->
        <service
            android:name=".service.WearMessageListener"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/alarm" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Sleephony">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="@string/kakao_redirect_url" />
            </intent-filter>
        </activity>
    </application>

</manifest>
